<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Frontend HW #02</title>
    <link rel=stylesheet href=../styles/style.css>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
	  	<div class="resume">
		  	<div class="header">
		  		<div class="header__title">
				  	<div class="header__name">Bjarne Stroustrup</div>
				  	<div class="header__profession">Computer scientist</div>
    			</div>			  
    			<div class="header__info">	    			
				  	<div class="header__details">Street | State | More details</div>
				  	<div class="header__links">
			  			<a class="links" href="tel:+1 234 567 89 01" title="+1 234 567 89 01">Phonenumber</a> | 
			  			<a class="links" href="mailto: email@example.com" title="email@example.com">Email</a> | 
			  			<a class="links" href="http://example.com" title="http://example.com">URL</a>
				  	</div>
			  	</div>
			  	<div class="header__line"></div>
			</div>

			<div class="main-content">
				<div class="left-column">
					<img src="../images/logo.png" width=100% alt="there is not image">

					<h4><span class="yellow-head">Skills</span></h4>

					<div class="bar-name">Communication</div>
					<div class="bar-border">
						<div class="main-content__progress_60" style="width: 60%"></div>
					</div>

					<div class="bar-name">Creativity</div>
					<div class="bar-border">
						<div class="main-content__progress_85" style="width: 85%"></div>
					</div>

					<div class="bar-name">Teamwork</div>
					<div class="bar-border">
						<div class="main-content__progress_60" style="width: 60%"></div>
					</div>

					<div class="bar-name">Organization</div>
					<div class="bar-border">
						<div class="main-content__progress_90" style="width: 90%"></div>
					</div>

					<div class="bar-name">Leadership</div>
					<div class="bar-border">
						<div class="main-content__progress_75" style="width: 75%"></div>
					</div>
						

					<h4><span class="yellow-head">Software</span></h4>	

					<div class="bar-name">Notepad++</div>
					<div class="bar-border">
						<div class="main-content__progress_95" style="width: 95%"></div>
					</div>
				</div>
				<div class="right-column">
					<div class="content-block">
						<h4><span class="yellow-head">About Bjarne</span></h4>
						<p><strong>Bjarne Stroustrup</strong> is a Danish computer scientist, most notable for the creation and development of the widely used C++ programming language. He is a visiting professor at Columbia University, and works at Morgan Stanley as a Managing Director in New York.</p>	
					</div>
					<div class="content-block">
						<h4><span class="yellow-head">Education</span></h4>
						<div class="kinda-table">
							<div class="table-block">
								<div class="content-block__time">(1975)</div>
								<div class="content-block__place">Stroustrup has a <strong>master's degree</strong> in mathematics and computer science from Aarhus University, Denmark.</div>
							</div>
							<div class="table-block">
								<div class="content-block__time">(1979)</div>
								<div class="content-block__place"><strong>PhD. in computer science</strong> from the University of Cambridge, England. His thesis advisor at Cambridge was Professor David Wheeler.</div>
							</div>
						</div>
					</div>
					<div class="content-block">
						<h4><span class="yellow-head">Career</span></h4> 
						<div class="resume__experience">
							<div class="resume__experience-date">01.2011 - 08.2017</div>
							<strong>Junior Programmer</strong><br>
							Compony | www.company.com
							<div class="resume__experience-description">
								<strong>Discription.</strong> If successful in the tests, those who are considered by a hiring service to be suitable to their requirements will be invited.
							</div>
						</div>
						<div class="resume__experience">
							<div class="resume__experience-date">01.2011 - 08.2017</div>
							<strong>Junior Programmer</strong><br>
							Compony | www.company.com
							<div class="resume__experience-description">
								<strong>Discription.</strong> If successful in the tests, those who are considered by a hiring service to be suitable to their requirements will be invited.
							</div>
						</div>
						<div class="resume__experience">
							<div class="resume__experience-date">01.2011 - 08.2017</div>
							<strong>Junior Programmer</strong><br>
							Compony | www.company.com
							<div class="resume__experience-description">
								<strong>Discription.</strong> If successful in the tests, those who are considered by a hiring service to be suitable to their requirements will be invited.
							</div>
						</div>
					</div>

					<h4><span class="yellow-head">Reference</span></h4>
					<div class="ref-block">
						<div class="ref-unit">
							<strong>Michael Johns</strong><br>
							Manager /Compony
							<div class="ref-unit__contacts">
								T. +1 0123 456 789<br>
								E. Michael Johnsr@gmail.com
							</div>
						</div>
						<div class="ref-unit">
							<strong>Michael Johns</strong><br>
							Manager /Compony
							<div class="ref-unit__contacts">
								T. +1 0123 456 789<br>
								E. Michael Johnsr@gmail.com
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="resume__yellow-line">
			<br>
		</div>
  </body>
</html>